@import url('global.css');

.pokemon__list {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon__item {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    max-width: inherit;
    cursor: pointer;

    &::after {
        content: '';
        display: inline-block;
        width: 70%;
        height: 70%;
        position: absolute;
        bottom: -10%;
        right: -10%;
        background-image: url('../img/pokeball-fill.svg');
        background-position: bottom right;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: .2;
    }
}

.pokemon__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;

    .pokemon__title {
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 0;
    }
    
    .pokemon__id {
        font-size: .8rem;
        align-self: flex-end;
        justify-self: flex-start;
        text-align: right;
        opacity: .5;
        margin-bottom: .25rem;
    }
}

.pokemon__detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    ol {
        align-self: flex-start;
        margin-top: .5rem;
    }

    li {
        text-transform: capitalize;
    }
}

.pokemon__type {
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
    padding: .3rem .75rem;
    margin: .25rem 0;
    border-radius: 1rem;
}

.pokemon__image {
    max-width: 130px;
    height: 70px;
    z-index: 1;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: var(--text-color-secundary);
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .825rem;
}



/* MEDIA QUERIES */
@media screen and (min-width: 360px) {
    .pokemon__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 576px) {
    .pokemon__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .pokemon__image {
        height: 85px;
    }

    .pokemon__item::before {
        width: 80%;
        height: 80%;
    }
}

@media screen and (min-width: 992px) {
    .pokemon__list {
        grid-template-columns: repeat(4, 1fr);
    }

    .pokemon__image {
        height: 100px;
    }
}